<div class="endpoint-block-details-section">
  <!-- Section Header -->
  <div class="endpoint-block-details-section-header">
    <h4>Parameters</h4>
  </div>

  <!-- Section Body -->
  <div class="endpoint-block-details-section-container">
    <!-- Path Params -->
    <% var routePathParams = endpoint.route.match(/:[a-zA-Z]+/g); %>
    <% if (routePathParams) { %>
        <% routePathParams.forEach(function(param) { %>
            <p class="param-text font-small">(path param) <span class="required-param">* required</span></p>
            <label for="<%= 'input-' + moduleName + '-' + index + '-' + param.substring(1) %>"><%= param.substring(1) %>:</label>
            <input class="param-input" type="text" id="<%= 'input-' + moduleName + '-' + index + '-' + param.substring(1) %>" placeholder="<%= param.substring(1) %>">
            <br /><br />
        <% }); %>
    <% } %>

    <!-- Query Params -->
    <% var routeQueryParams = endpoint.controller.query; %>
    <% if (routeQueryParams) { %>
      <% Object.entries(routeQueryParams).forEach(function([paramName, paramDetails]) { %>
        <!-- Summary: Required and Type -->
        <% if(paramDetails.required) { %>
          <p class="param-text font-small">(query param) <%= paramDetails.type %> <span class="required-param">* required</span></p>
        <% } else { %>
          <p class="param-text font-small">(query param) <%= paramDetails.type %> <span class="required-param">optional</span></p>
        <% } %>

        <!-- Input -->
        <label for="<%= 'query-input-' + moduleName + '-' + index + '-' + paramName %>"><%= paramName %>:
        <input class="param-input" type="text" id="<%= 'query-input-' + moduleName + '-' + index + '-' + paramName %>" placeholder="<%= paramName %>">
        <br /><br />
      <% }); %>
    <% } %>

    <!-- No Parameters -->
    <% if (Object.keys(routeQueryParams).length === 0 && routePathParams.length === 0) { %>
        <p class="param-text font-small">No parameters required.</p>
        <br /><br />
    <% } %>

    <button class="execute-button endpoint-method-block-<%= endpoint.method %>" id="execute-btn-<%= moduleName %>-<%= index %>">
      Execute
    </button>
  </div>
</div>
