<div class="endpoint-block endpoint-method-background-<%= endpoint.method %>">
  <!-- Header -->
  <div class="endpoint-block-header">

    <!-- Summary Title -->
    <%- include('./header/summary/index.ejs', { moduleName, endpoint }); %>

    <!-- Copy to Clipboard Button-->
    <%- include('./header/copy-to-clipboard-button/index.ejs', { moduleName, endpoint, index }); %>

    <!-- Expansion Button -->
    <%- include('./header/expansion-button/index.ejs', { moduleName, endpoint, index }); %>

  </div>

  <!-- Body -->
  <div class="endpoint-block-body" id="details-<%= moduleName %><%= index %>">

    <!-- Authentication Section -->
    <%- include('./body/authentication/index.ejs', { moduleName, endpoints }); %>

    <!-- Parameters Section -->
    <%- include('./body/parameters/index.ejs', { moduleName, endpoint, index }); %>

    <!-- Responses Section -->
    <%- include('./body/responses/index.ejs', { moduleName, endpoint, index }); %>

  </div>
</div>
